*{
padding: 0 ;
margin: 0;
}
body{
font-family: Georgia, 'Times New Roman', Times, serif;
color: black;
}
.container{
max-width: 1400px;
}
h1{
font-size: 80px;
width: 1200px;
margin: auto;
padding: 25px;
}
   
.dropdown a{
    color: black;
} 
.dropdown a:hover{
    color: #17A4BA;
} 
nav{
margin-top: 100px;
}
.navbar-brand{
font-size: 1.5em;
}
.nav-link{
font-size: 1.5em;
}

